
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@500&family=Work+Sans:wght@700&display=swap');
 
 *{
    margin: 0;
    font-family: Roboto;
 }

  body{
    margin: 0;
    padding: 0;
  }

  /* header styles */
  header{
    background-color: rgba(255, 144, 14, 0.1);
    color: rgb(0, 0, 0);
  }

  /* nav styles */

  ..navigation{
    margin-top: 90px;
  }

  .navigation-contain{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-between;  
  }

  ul{
    display: flex;
    gap: 20px;
  }

li{
    list-style: none; 
}

a{
    text-decoration: none;
    color: black;   
}

/* banner styles */
.banner{
    text-align: center;
    margin-top: 50px;
    
}

.btn-explore{
    margin: 50px 0;
}

.banner-image{
    width: 100%;
    margin: 0px auto;
    display: block;
   
}
  